<div class="container">
  <div class="sidebar">
    <ul>
      <li (click)="selectHome()" [class.active]="selectedTab === 'home'">Home</li>
      <li (click)="selectCategory()" [class.active]="selectedTab === 'category'">Category</li>
      <ul *ngIf="showCategorySubmenu">
        <li (click)="selectCreateCategory()" [class.active]="selectedTab === 'createCategory'">Create Category</li>
        <li (click)="selectCreateDetails()" [class.active]="selectedTab === 'createDetails'">Create Details</li>
      </ul>
      <li (click)="selectProduct()" [class.active]="selectedTab === 'product'">Product</li>
      <li (click)="selectOrder()" [class.active]="selectedTab === 'order'">Orders</li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
